
---
 - name: playbook for the docker server to automatic build dockr image and send it to docker sever
   hosts: localhost
   tasks:
     - name: delete present working directory
       ansible.builtin.shell:
         cmd: sudo rm -r workdir
       ignore_errors: yes

     - name: create new working directory 
       ansible.builtin.shell:
         cmd: sudo mkdir workdir


     - name: clone repo in working directory
       ansible.builtin.shell:
         cmd: sudo git clone https://github.com/adya1554/royal-challengers-glory.git
         chdir: workdir/

     - name: give permission to .sh files
       ansible.builtin.shell:
         cmd: sudo chown ubuntu docker.sh  && sudo chmod 744 docker.sh
         chdir: workdir/royal-challengers-glory/bash/

     - name: run those file on local server to build image server
       ansible.builtin.shell:
         cmd: ./docker.sh
         chdir: workdir/royal-challengers-glory/bash/
