---
 - name: playbook for the deplyment server to automate task 
   hosts: deploy
   tasks:
     - name: delete present working directory
       ansible.builtin.shell:
         cmd: sudo rm -r workdir
       ignore_errors: yes

     - name: create new working directory 
       ansible.builtin.shell:
         cmd: sudo mkdir workdir


     - name: clone repo in working directory
       ansible.builtin.shell:
         cmd: sudo git clone https://github.com/adya1554/bash.git
         chdir: workdir/

     - name: give permission to .sh files
       ansible.builtin.shell:
         cmd: sudo chown ubuntu k8s.sh && sudo chmod 744 k8s.sh
         chdir: workdir/bash/

     - name: run those file on remote server
       ansible.builtin.shell:
         cmd: ./k8s.sh
         chdir: workdir/bash/